body{
  background: url("../img/Home_Page_Name.png") top center no-repeat;
  background-color:black;
  background-repeat: no-repeat;
  background-size: 80%;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
}

.menu{
  margin-top: 16%;
  margin-left: 28%;
  color: white;
}

.menu_item img{
  max-height: 11%;
  max-width: 24%;
}

.fancybox-skin{
  background-color:black !important;
}
