body{
  background: url("../img/Home_Page_Name.png") top center no-repeat;
  background-color:black;
  background-repeat: no-repeat;
  background-size: 80%;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
}

.menu{
position:absolute;
margin-top: 200px;
margin-left: 370px;
color: white;
}
.menu_item img{
  height:60px;
}

.fancybox-skin{
  background-color:black !important;
}
